<h1>Aces Up</h1>

<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<body>

<table>
    <tr class="title">
        <td>Column1</td>
        <td >Column2</td>
        <td >Column3</td>
        <td >Column4</td>
    </tr>

    <tr><td class="columnOfCards" id="c1">
        <table>
            <tr><td class="cardLocation l0"></td></tr>
            <tr><td class="cardLocation l1"></td></tr>
            <tr><td class="cardLocation l2"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
        </table>
    </td>
        <td class="columnOfCards" id="c2">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c3">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c4">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
            </table>
        </td>
    </tr>
</table>

<p id="cards">asdfas</p>

<button id="dealButton" onclick="deal()">Deal</button>




<script>

    /*****************************************************************************
    *        Name: 
    *      Inputs: 
    *     Outputs: 
    * Description: 
    *              
    *****************************************************************************/

    // Global variables to track state
    board = {};


    /*****************************************************************************
    *        Name: display
    *      Inputs: Card[] cards
    *     Outputs: 
    * Description: Prints the rank and suit of each card in the array
    *              
    *****************************************************************************/
    function display(cards) {
        $("#cards").html("");
        $.each(cards, function(index, card) {
            $("#cards").append(card.rank + "<br>");
        });
    }


    /*****************************************************************************
    *        Name: getInitialBoard
    *      Inputs: 
    *     Outputs: 
    * Description: AJAX request to the controller to generate a board and store in
    *              the view
    *****************************************************************************/
    function getInitialBoard() {
        
        $.ajax({
            url: "deck.json",
            method: "GET",
        })
        .done(function(result) {
                // Debugging
                console.log(result);

                // Store deck state in global variable
                board = result;
        })
        .fail(function(result) {
            // Debugging
            console.log(result);
        });
    }



    /*****************************************************************************
    *        Name: deal
    *      Inputs: 
    *     Outputs: 
    * Description: AJAX request to the controller to get the next 4 cards based
    *              on the deck state
    *****************************************************************************/
    function deal() {

        console.log("----------New--------")
        console.log(board.remaining_deck);

        $.ajax({
            url: "deck.json",
            method: "POST",
            data: JSON.stringify(board),
            cache: false
        })
        .done(function(result) {
            board = result
            
            // Debugging
            console.log(board.remaining_deck);
            console.log("___________________")
        })
        .fail(function(result) {
            // Debugging
            console.log(result);
        });

    }




    // Store deck
    getInitialBoard();

</script>




</body>
</html>